* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #111827;
  position: sticky;
  top: 0;
}

.logo {
  color: #38bdf8;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #0f172a, #1e293b);
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero p {
  color: #cbd5e1;
  max-width: 500px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.hero button:hover {
  background: #0ea5e9;
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 60px 10%;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111827;
  color: #94a3b8;
}